/* font-family: "Bacasime Antique", serif; */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montez&display=swap');

/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Oxygen", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reseteo */

*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://img.freepik.com/foto-gratis/superficie-metal-rayado-estilo-grunge-oscuro_1048-12951.jpg?w=826&t=st=1711403665~exp=1711404265~hmac=4462bda3f25d2f004400f46422eb3c07fe3cc0578b66b63c1cad97542178b056');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;

    color: white;
}

/* Main  */

.main-principal{
    display: flex;

}

.main-principal img{
    border-radius: 255px;
}

main h3 p{
    color: aliceblue;
}

main p{
    color: aliceblue;
}

main img {
    height: 500px;
    padding: 10px;

    
}

main section{
    display: block;
}

/* Barra de Navegacion */

.navegacion{
    background-color: rgb(230, 233, 42);
    padding: 10px;
}

.navegacion ul {
    display: flex;
    background-color: rgb(201, 88, 88);
    list-style-type: none;
    justify-content: center;
    border-radius: 30px;

}

.navegacion .barrasup li img{
    width: 50px;
    height: 50px;
    

}

.navegacion ul li{
    padding: 10px;
    margin: 10px;
}

.navegacion ul li a{
    color: white;
    text-align: center;
    box-shadow: 2px 2px;
    
}

/* .navbar-brand {
    
} */

/* Titulo */

.titulo h1{
    background-color: rgb(129, 131, 14);
    text-align: center;
    
}



.form input{
    display: block;
    padding: 10px;
    margin: 10px;

}

/* Imagenes Cotizacion */

.main-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-galeria {
    
    display: grid;     
    grid-template-areas: 
    "img1 img1 img1 img3 img3 img3"
    "img1 img1 img1 img3 img3 img3"
    "img4 img4 img4 img6 img6 img6"
    "img4 img4 img4 img6 img6 img6"
    "img2 img2 img2 img5 img5 img5"
    "img2 img2 img2 img5 img5 img5"    
    ;
    grid-template-rows: repeat(6, 200px);
    grid-template-columns: repeat(6, 200px);

   

}

.grid-galeria img{
    height: 100%;    
   }

.grid-galeria div{
    overflow: hidden;
    border-radius: 5px;
    padding: 0px;
}

.img-1{
    grid-area: img1;
    background-color: #be7413;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 img{
    width: 100%;
}

.img-2{
    grid-area: img2;
    background-color: #1343be;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-2 img{
    width: 100%;
}

.img-3{
    grid-area: img3;
    background-color: #13a4be;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-3 img{
    height: 100%;
}

.img-4{
    grid-area: img4;
    background-color: #6b13be;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-4 img{
    width: 100%;
}

.img-5{
    grid-area: img5;
    background-color: #be1371;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-5 img{
    height: 100%;
}

.img-6{
    grid-area: img6;
    background-color: #be6b13;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-6 img{
    width: 100%;
}

/* Imagenes Novedades */

section div img{
    border-radius: 25px;
}

/* Formulario */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background-color: rgb(161, 184, 226);
    color: black;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

div div iframe {
    display: inline-flex;
    border-radius: 30px;
    justify-content: center;


    
}

div .texto{
    color: white;
}



@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
       
        flex-direction: row-reverse;
    }
}


@media (max-width: 765px) {
    
    .grid-galeria{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        ; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);       
    }

    .grid-galeria img{
     height: 100%;    
    }

}